$border-width: 5px;
$blue: #38a9e3;
$gray: #495054;
$yellow: #e9b144;
$purple:#974dea;
$dark-purple:#7c1fe5;
$green:#38e395;
$dark-green:#1dcb7c;
$red:#e3387c;
$dark-red:#cb1d62;
$white-blue: #a9bcf1;
$dark-orange: #e09d1a;
$gray2: #383e41;
$gray3:rgba(125, 125, 125, 0.66);